version: '3.7'

services:

  server:
    build: server
    environment: 
      - MONGODB_CONNSTRING=mongodb://root:password@mongodb:27017/db?authSource=admin
    ports:
      - 80:3000
    networks:
      - mern-sample-1-network
  mongodb:
    image: mongo:5.0
    environment:
      - MONGO_INITDB_ROOT_USERNAME=root
      - MONGO_INITDB_ROOT_PASSWORD=password
      - MONGO_INITDB_DATABASE=db
    networks:
      - mern-sample-1-network
    volumes:
      - mongodbdata:/data/db
    
networks:
 mern-sample-1-network:
volumes:
  mongodbdata: